.menu-bar,
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.menu-bar {
    background-color: transparent;
    transition: background-color 0.3s steps(4);
}

.menu-bar.scrolled {
    background-color: black;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1em 2em;
    background-color: black;
    z-index: 101;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-overlay-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-close,
.menu-open {
    cursor: pointer;
}

.menu-overlay-content {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    text-align: right;
}

.menu-copy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-link-item {
    width: max-content;
    text-align: right;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder a {
    font-size: 120px;
    letter-spacing: -0.02em;
    line-height: 85%;
}

.menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-link.active {
    color: #fff;
}

.indicator {
    display: inline-block;
    margin-right: 10px;
}

.menu-link .indicator {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.1s steps(2);
}

.menu-link:hover .indicator,
.menu-link.active .indicator {
    opacity: 1;
    display: inline-block;
    animation: pixel-nudge 1s infinite steps(1);
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; 
  
  background: radial-gradient(circle at center, transparent 50%, rgba(0, 0, 0, 0.4) 100%),
              linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.2) 50%);
  background-size: 100% 100%, 100% 4px;
}

.crt-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: crt-flicker 0.15s infinite;
  pointer-events: none;
}


.text-glow-crt {
    text-shadow: 
    2px 0 1px rgba(255, 0, 0, 0.5), /* Красный сдвиг вправо */
    -2px 0 1px rgba(0, 255, 255, 0.5), /* Циановый сдвиг влево */
    0 0 10px rgba(34, 197, 94, 0.5); /* Зеленое свечение */
}

@keyframes crt-flicker {
  0% { opacity: 0.02; }
  50% { opacity: 0.05; }
  100% { opacity: 0.02; }
}

@keyframes pixel-nudge {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px); 
    }
}

@media (max-width: 768px) {
    .menu-link-item-holder a {
        font-size: 90px;
    }
}